.bgImage{

  background-image: url('../../assets/images/login-background.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

}

  .content {
      position: absolute;
      background: rgba(0, 0, 0, 0.575);
      color: #f1f1f1;
      width: 25%;
      padding: 20px;
      margin-left: 37.5%;
      border-radius: 4px;
      margin-top: 10%;
    }
  
    .content1{
      position: absolute;
      background: rgba(0, 0, 0, 0.575);
      color: #f1f1f1;
      width: 25%;
      padding: 20px;
      margin-left: 37.5%;
      border-radius: 4px;
      margin-top: -50px;
      margin-top: 4%;
    }
  
    .heading{
      font-family: "Lucida Console", Courier, monospace;
      font-variant: small-caps;
      font-size: 30px;
      color: #fff;
      line-height: 1.2;
      text-align: center;
      display: block;
      margin-bottom: 40px;
    }
  
    input {
      width: 100%;
      position: relative;
      border-bottom: 2px solid white;
      margin-bottom: 30px;
      }
  
      .login100-form-btn{
      font-family: "Lucida Console", Courier, monospace;
      font: 1em sans-serif;
      font-size: larger;
      color:whitesmoke;
      line-height: 1.2;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      min-width: 120px;
      height: 50px;
      border-radius: 25px;
      margin-left: 90px;
      margin-top: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.5);
      font-variant: small-caps;
      }
  
      .login100-form-btn:hover{
       background-color: rgb(52 108 115 / 60%);
       color: whitesmoke;
       font-variant: small-caps;
       cursor: pointer;
      }
  
      #transparent {
          background-color:rgba(0, 0, 0, 0);
          color:white;
          border: none;
          border-bottom: 1px solid grey;
          outline:none;
          height:30px;
          transition:height 1s;
          -webkit-transition:height 1s;
      }
      #transparent:focus {
          height:50px;
          font-size:16px;
          border-bottom: 1px solid red;
          
      }
  
     .form-group a{
         color: rgb(231, 224, 224)
         
     }
  
     .form-group a:hover{
      color: rgb(52 108 115 / 60%);
      cursor: pointer;
  
  }