<table class="table table-hover table-responsive"  >
    <thead  class="thead-dark">
      <tr>
        <th scope="col">SR#</th>
        <th scope="col">SweepStake</th>
        <th scope="col">Store</th>
        <th scope="col">Product</th>
        <th scope="col">StartDate</th>
        <th scope="col">EndDate</th>
        <th scope="col">Instant Limit</th>
        <th scope="col">Instant Amount</th>
        <th scope="col">Daily Amount </th>
        <th scope="col">Daily Limit</th>
        <th scope="col">Weekly Amount</th>
        <th scope="col">Weekly Limit</th>
        <!-- <th scope="col">Public Address</th>
        <th scope="col">Recovery Text</th>  -->
        <th scope="col">Status</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data; let i=index" >
       <td>{{i+1}}</td>  
       <td>{{d.name}}</td>
       <td>{{d.publisherName}}</td>
       <td>{{d.productName}}</td>
       <td>{{d.startDate}}</td>
       <td>{{d.endDate}}</td>
       <td>{{d.instantLimit}}</td>
       <td>{{d.instantAmount}}</td>
       <td>{{d.dailyAmount}}</td>
       <td>{{d.dailyLimit}}</td>
       <td>{{d.weeklyAmount}}</td>
       <td>{{d.weeklyLimit}}</td>
       <!-- <td>{{d.publicAddress}}</td>
       <td>{{d.recoveryText}}</td> -->
       <td>{{d.status}}</td>
      </tr>
    </tbody>
    <br>
    <br>

   <div style="margin-left: 30%;">
  <button class="btn btn-primary " type="button" >Edit</button>&nbsp;
  <button class="btn btn-primary " type="button" >Details</button>&nbsp;
  <button class="btn btn-primary " type="button" >Publish</button>&nbsp;
  <button class="btn btn-primary " type="button" >Stop</button>
  </div>

  </table>
  