<table class="table table-hover table-responsive ">
    <thead  class="thead-dark">
      <tr>
        <th scope="col">SweepStake</th>
        <th scope="col">Store</th>
        <th scope="col">Product</th>
        <th scope="col">StartDate</th>
        <th scope="col">EndDate</th>
        <th scope="col">Limit</th>
        <th scope="col">Price</th>
        <th scope="col">Token </th>
        <th scope="col">Wins</th>
        <th scope="col">Chain</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td>1</td>
       <td>Sample Data</td>
       <td>Sample Data</td>
       <td>Sample Data</td>
       <td>Sample Data</td>
       <td>Sample Data</td>
       <td>Sample Data</td>
       <td>Sample Data</td>
       <td>Sample Data</td>
       <td>Sample Data</td>
       <td>Sample Data</td>
  
      </tr>
    </tbody>
    <br>
    <br>

   <div style="margin-left: 30%;">
  <button class="btn btn-primary " type="button" >Edit</button>&nbsp;
  <button class="btn btn-primary " type="button" >Details</button>&nbsp;
  <button class="btn btn-primary " type="button" >Publish</button>&nbsp;
  <button class="btn btn-primary " type="button" >Stop</button>
  </div>
   


  </table>
  